.link {
    stroke-width: 3px;
    fill: none;
    stroke-opacity: 0.5;
}

.node {
    fill: #eee;
    stroke: black;
    stroke-width: 1px;
}

.link:hover {
	stroke-width: 8px;
	stroke-opacity: 1;
	stroke: #000;
}

.link--bundled {
  stroke-width: 8px;
  stroke-opacity: .8;
}