.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.link {
  stroke-opacity: .4;
  fill: none;
}

.link:hover {
	stroke-width: 4px;
	stroke-opacity: .8;
	stroke: #000;
}

.link--bundled {
  stroke-width: 4px;
  stroke-opacity: .8;
}